<div class="jumbotron center vertical-center">
  <h1>About Us!</h1>
  <br/>
  <h3>Team maker is an app that can be used to create surveys to build teams for any project or activity you may need.
  </h3>
  <h3>The teams are created based on the responses to the surveys that are made.</h3>
  <br/><br/>
</div>
