<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @response.survey %>
</p>

<p>
  <strong>Student:</strong>
  <%= @response.student %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @response.completed %>
</p>

